adal==0.4.7
aniso8601==8.0.0
asn1crypto==1.3.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==2.0.2
decorator==4.1.2
dict-digger==0.2.1
docopt==0.6.2
Flask==0.12.2
Flask-GoogleMaps==0.2.4
Flask-RESTful==0.3.8
geocoder==1.23.2
googlemaps==2.5.1
gunicorn==19.3.0
httplib2==0.19.0
idna==2.5
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.6
keyring==10.4.0
MarkupSafe==1.0
msrest==0.4.11
msrestazure==0.4.11
oauth2==1.9.0.post1
oauthlib==2.0.2
pipreqs==0.4.10
pycparser==2.18
PyJWT==1.5.2
python-dateutil==2.6.1
pytz==2019.3
pywin32-ctypes==0.1.2
ratelim==0.1.6
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
urllib3==1.21.1
websocket-client==0.48.0
Werkzeug==0.12.2
yarg==0.1.9

